.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.login-form * {
  width: 100%;
}

.login-title {
  text-align: center;
}

input.size-xxl {
  height: 50px;
}

input {
  border-radius: 5px;
  padding: 5px 10px;
  box-sizing: border-box;
  border: 2px solid #d1d1d1;
}
